:root {
  --dark-mode: #101a23;
  --dark: #1e2a38;
  --dark-light: #2f3e4e;
  --primary: #3d98f4;
  --light: #64748b;
  --light-2: #e2e8f0;
  --white: #ffffff;
}
a {
  text-decoration: none !important;
}
ul,
li {
  list-style: none;
}
.section {
  padding-top: 100px;
  padding-bottom: 100px;
}
