.courses-section .header-p,
.courses-section .header {
  color: var(--dark);
}
.courses-section .header {
  font-weight: 700;
  padding-bottom: 15px;
}
.courses-section .header-p {
  font-weight: 500;
}
.courses .course {
  background-color: var(--light);
  border-radius: 15px;
}
